@import "./variables.scss";

.home {
  max-width: 1140px;
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

  @include desktop {
    padding: 50px 5px 0 5px;
  }
  @include device {
    .login-section {
      display: none;
    }
  }

  .login-section {
    flex: 0 0 235px;
    padding: 10px 0;
    button {
      width: 100%;
      border: 0;
      background: $color-green 0% 0% no-repeat padding-box;
      height: 60px;
      color: #ffffff;
      @include btn-font;
      border-radius: 5px;
    }
  }
  .main-section {
    max-width: 865px;
    width: 100%;
    @include desktop {
      padding: 0 10px;
    }
    @include device {
      background: #f4f5f7;
    }
  }
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 0;
  margin: 2px 0;
}
.order {
  // width: 100%;
  button {
    color: #495057;
    background-color: white;
    border: 0;
    font: normal normal normal 13px/25px SpoqaHanSans;
    cursor: pointer;
    &.active::before {
      background: $color-green;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      // margin: -5px 10px 0 0;
      vertical-align: middle;
      background: $color-border;
      border-radius: 50%;
      // color: ;
    }
  }
}
.filter-button {
  background: #ffffff;
  width: 48px;
  height: 24px;
  color: #adb5bd;
  border: 1px solid $color-border;
  border-radius: 3px;
}
.card {
  padding: 20px 30px;
  margin: 5px 0;
  background-color: #ffffff;
  @include desktop {
    border: 1px solid $color-border;
    margin: 14px 0 30px 0;
    border-radius: 5px;
  }

  &:first-child {
    margin-top: 0;
  }

  .inline {
    display: flex;
    @include sub-font;
    @at-root.space-between {
      justify-content: space-between;
      color: #7e848a;
      padding-bottom: 10px;
    }
    @at-root.flex-start {
      border-top: 1px $color-border solid;
      padding-top: 13px;
      margin-top: 13px 0 17px 0;
    }
    .user_id {
      color: $color-green;
      border-right: 1px $color-border solid;
      padding-right: 10px;
      margin-right: 10px;
    }
  }
  .inline-text {
    display: grid;
  }
  .title,
  .contents {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 6px;
  }
  .title,
  .ads-title {
    @include title-font;
  }
  .contents,
  .ads-contents {
    @include content-font;
  }

  img {
    object-fit: cover;
    max-height: 180px;
    @include desktop {
      width: 310px;
    }
    @include device {
      width: 100%;
    }
  }
  .ads-inline {
    display: flex;
    @include device {
      flex-direction: column;
    }
    .ads-between {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .ads-title,
  .ads-contents {
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    @include desktop {
      margin: 0 30px;
    }
  }
  .ads-title {
    -webkit-line-clamp: 2;
  }
  .ads-contents {
    -webkit-line-clamp: 4;
  }
  .sponsered {
    padding-bottom: 16px;
    @include sub-font;
    color: #adb5bd;
  }
}
