/* Colors: */
$device: "Only screen and (max-width : 768px) ";
$desktop: "screen and (min-width : 769px)";

$color-green: #00c854;
$color-border: #e1e4e7;

@mixin device {
  @media #{$device} {
    @content;
  }
}

@mixin desktop {
  @media #{$desktop} {
    @content;
  }
}

@mixin title-font {
  font: normal normal bold 18px/28px SpoqaHanSans;
  color: #282c30;
}

@mixin content-font {
  font: normal normal normal 16px/25px SpoqaHanSans;
  color: #495057;
}
@mixin sub-font {
  font: normal normal normal 13px/25px SpoqaHanSans;
  color: #495057;
}
@mixin btn-font {
  font: normal normal bold 22px/25px SpoqaHanSans;
}
